<style>
  header {
      height: 20px; background: rgb(173, 173, 173); margin:0; text-align: center;
  }
</style>
<header>
    {{#if userLoggedIn}}
    <form action="/compose" method = "post">
        <input type="submit" value="Compose">
    </form>
    {{else if userComposing}}
    <form action="/home" method = "post">
        <input type="submit" value="home">
    </form>
    {{else}}
        <p>Here's header</p>
    {{/if}}
</header>