<html lang="en">
<head>
    {{{_sections.head}}}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
</head>
<body>
    {{>header}}
    {{{body}}}
</body>
</html>