<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aries E-mail</title>
    <link href="../../public/css/hbs.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    {{>header}}
    {{{body}}}
    {{>footer}}
</body>
</html>