<style>
 /* header {
        height: 40px; text-align: center;
    }*/

    .button-group button {
        margin:auto;
        justify-content: center;
        background-color: #0489c9; /* Green background */
        border: 1px solid white; /* Green border */
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        float: left; /* Float the buttons side by side */
        text-align: center;
    }

    /* Clear floats (clearfix hack) */
    .button-group:after {
        content: "";
        clear: both;
        display: table;
    }

    /* Add a background color on hover */
    .button-group button:hover {
        background-color: #004f9f;
    }

</style>
<header>
    {{#if this.userLoggedIn}}
    <div class='button-group'>
        <div>
            <form action="/compose" method = "post">
                <button type="submit">Compose</button>
            </form>
        </div>
        <div>
            <form action="/home" method = "post">
                <button type="submit">Home</button>
            </form>
        </div>
        <div>
            <form action="/logout" method = "post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
    {{/if}}
</header>